fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.35
alembic==1.13.3
python-dotenv==1.0.1
pandas>=2.1.0
scikit-learn>=1.5.2
recordlinkage>=0.16
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
rapidfuzz==3.6.0
pytest==7.4.4
pytest-asyncio==0.23.2
httpx==0.25.2
